.main {
    background: var(--yellow);

    padding: 12rem min(5%, 50px) 0;
    min-height: 100vh;

    color: var(--blue);
    min-height: 100vh;
}

.grid {
    margin: 0 auto;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    grid-auto-flow: row;
    row-gap: 3rem;
    column-gap: 1rem;
}

.left {
    grid-column: 1 / 2;
}

.right {
    grid-column: 2 / 3;
}

.center {
    grid-column: 1 / 3;
}

.banner {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    height: 16rem;
}

.overlay {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background-color: var(--blue);
        mix-blend-mode: exclusion;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .left,
    .right,
    .center {
        grid-column: 1 / 2;
    }
}
